<form action="/movie/create" class="create-heading" method="POST">
    <input type="text" required name="title" placeholder="title">
    <input type="text" required name="year" placeholder="year">
    <input type="text" required name="director" placeholder="director">
    <input type="text" required name="duration" placeholder="duration">
   <button type="submit">Create Movie</button>
</form>



