<div class="main-container container-fluid d-flex justify-content-center">
  <div class="row">
    <div class="jumbotron col align-self-center">
      <h1 class="main-heading display-4">Welcome to MovieMania!</h1>
      <p class="main-text lead">Hey there! We are so excited that you are here and we guess that like us you love movies</p>
      <hr class="my-4">
      <div class="main-subContainer">
      <p class="main-cta-text">We would love it if you <span class="main-bold">sign up</span> to access our library of movies</p>
      <a class="main-link btn btn-primary btn-lg" href="/user/signup" role="button">Sign Up</a>
    </div>
  </div>
</div>


