<div class="search-container container-fluid d-flex justify-content-center align-items-center">
   <form action="/movies/search/movie" class="form-inline my-2 my-lg-0" method="POST">
      <input class="form-control mr-sm-2" name='title' type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0 search-btn" type="submit">Search collections</button>
   </form>
</div>