<div class="login-container container-fluid d-flex justify-content-center">
  <h1 class="login-heading">Welcome Back!, we missed you.</h1>
  <form action="/user/login" method="POST">
    <input class="login-input form-control" type="text" required name="username" placeholder="username" />
    <input class="login-input form-control" type="password" required name="password" placeholder="password" />
    <button class="login-btn btn-block" type="submit">Login</button>
  </form>
  <small class="login-cta">Don't have an account? Why not <span class="login-bold-cta"><a href="/user/signup">Sign Up</a></span>?</small>
</div>