<form action="/recipes" method="POST">
    <input type="text" name="title" placeholder="title">
    <input type="text" name="dish" placeholder="dish type">
    <input type="text" name="duration" placeholder="duration">
    <input type="text" name="creator" placeholder="created by">
   <button type="submit">Create recipe</button>
</form>
